/.DS_Store
/.vscode
/data
/data.zip
/models
/multimedia_venv
# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store
# Ignore pyc files
**/*.pyc
# Ignore PyCharm files
**/.idea
test.png
test.jpg
test_img0.png
